/* RESET CSS */
* {
  margin: 0%;
  padding: 0%;
  box-sizing: border-box;
}

/* --------------------------------------- */
/* RESET CSS */
/* --------------------------------------- */
/* /////////////////////////////////////////////////////////// */
/* --------------------------------------- */
/* GRIDS START */
/* --------------------------------------- */
.container_grid {
  display: grid;
  grid-template-columns: auto 1fr;
  grid-template-rows: auto 1fr auto;
  grid-template-areas: "container__header container__main" "container__header container__main" "container__header container__footer";
  min-height: 100vh;
}

.container__header {
  grid-area: container__header;
}

.container__main {
  grid-area: container__main;
}

.container__footer {
  grid-area: container__footer;
}

/* --------------------------------------- */
/* GRIDS END */
/* --------------------------------------- */
/* /////////////////////////////////////////////////////////// */
/* --------------------------------------- */
/* EMPIEZA HEADER */
/* --------------------------------------- */
.container__header {
  background-color: #ffffff;
  font-family: "Kanit", sans-serif;
  font-family: "Questrial", sans-serif;
  text-align: start;
  padding: 0 1em 1em 1em;
  flex-direction: column;
}
.container__header .nav__list {
  display: flex;
  flex-direction: column;
  font-family: "Kanit", sans-serif;
  font-family: "Questrial", sans-serif;
  padding: 1em 0.5em 0 0.5em;
  list-style: none;
}
.container__header .nav__list .nav__item__logo {
  display: flex;
  justify-content: center;
  padding: 1em 0 1em 0;
  margin: 0 0 20px 0;
}
.container__header .nav__list .nav__item {
  display: flex;
  padding: 14px;
  margin: 0.3em;
  font-size: 1em;
  font-weight: bold;
  background-color: #272d2d;
  border-radius: 20px;
  justify-content: center;
}
.container__header .nav__list .nav__item .nav__anchors:hover {
  color: #23ce6b;
}
.container__header .nav__list .nav__item .nav__anchors_active {
  color: #23ce6b;
  text-decoration: none;
}
.container__header .nav__list .nav__item .nav__anchors {
  text-decoration: none;
  color: #ffffff;
}

/* -------------------------------------- */
/* TERMINA HEADER */
/* -------------------------------------- */
/* /////////////////////////////////////////////////////////// */
/* -------------------------------------- */
/* EMPIEZA MAIN */
/* -------------------------------------- */
.container__main {
  display: flex;
  font-family: "Kanit", sans-serif;
  font-family: "Questrial", sans-serif;
  background-color: #272d2d;
  padding: 1em;
  color: #ffffff;
  text-align: start;
  flex-direction: column;
}
.container__main .main__welcome {
  padding: 1em 0 1em 0;
}
.container__main .gallery__item {
  margin-top: 5em;
}
.container__main .main__description {
  font-size: 1em;
  font-weight: 550;
  padding: 1em;
  border-radius: 1em;
  text-align: start;
}
.container__main .main__text {
  font-size: 2.3em;
  padding: 1em;
  border-radius: 1em;
  text-align: center;
  margin-top: 2em;
}
.container__main .main__socials {
  display: flex;
  justify-content: center;
}
.container__main .main__socials .socials__icons a:hover {
  color: #23ce6b;
}
.container__main .main__socials .socials__icons a {
  text-decoration: none;
  color: #272d2d;
}
.container__main .main__socials .socials__icons a i {
  font-size: 2em;
  padding: 0.5em;
  background-color: #ffffff;
  margin: 0.2em 0.7em 0 0;
  border-radius: 60px;
}
.container__main .main__section {
  margin: 1em;
}
.container__main .main__section .main__section-container {
  background-color: #23ce6b;
  padding: 1em;
  border-radius: 10px;
  display: flex;
  align-items: center;
}
.container__main .main__section .main__section-container .main__section-title {
  color: #272d2d;
  font-size: 1.5em;
  margin: 0;
}
.container__main .main__section .main__section-description {
  text-align: left;
  font-size: 1em;
  margin-top: 2em;
  margin-bottom: 5em;
}
.container__main .main__section .section__buttons:hover {
  background-color: #23ce6b;
}
.container__main .main__section .section__buttons-secondary:hover {
  background-color: #23ce6b;
}
.container__main .main__section .section__buttons {
  background-color: rgba(35, 206, 106, 0.3411764706);
  padding: 1em;
  border-color: #23ce6b;
  border-style: solid;
  border-radius: 1em;
  text-decoration: none;
  color: #ffffff;
  border-width: 1px;
}
.container__main .main__section .section__buttons-secondary {
  background-color: #272d2d;
  padding: 1em;
  border-color: #23ce6b;
  border-style: solid;
  border-radius: 1em;
  text-decoration: none;
  color: #ffffff;
  border-width: 1px;
  margin-left: 1em;
}

.card-body {
  background-color: #23ce6b;
}

.main__cards {
  margin-top: 4em;
}

/* -------------------------------------- */
/* TERMINA MAIN */
/* -------------------------------------- */
/* /////////////////////////////////////////////////////////// */
/* -------------------------------------- */
/* FOOTER */
/* -------------------------------------- */
.container__footer {
  background-color: #23ce6b;
  font-family: "Kanit", sans-serif;
  font-family: "Questrial", sans-serif;
  padding: 1em;
}
.container__footer .footer__socials {
  display: flex;
  justify-content: center;
}
.container__footer .footer__socials .footersocials__icons a:hover {
  color: #23ce6b;
}
.container__footer .footer__socials .footersocials__icons a {
  text-decoration: none;
  color: #272d2d;
}
.container__footer .footer__socials .footersocials__icons a i {
  font-size: 2em;
  padding: 0.5em;
  background-color: #ffffff;
  margin: 0.2em 0.7em 0 0;
  border-radius: 60px;
}
.container__footer .footer__copyright {
  margin-top: 1em;
  text-align: center;
}

/* -------------------------------------- */
/* TERMINA FOOTER */
/* -------------------------------------- */
/* /////////////////////////////////////////////////////////// */
/* -------------------------------------- */
/* MEDIA QUERIES */
/* -------------------------------------- */
@media (max-width: 992px) {
  .container__gallery {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .container__gallery .gallery__item {
    width: 50%;
  }
  .container__main .main__text {
    padding: 1em;
    border-radius: 1em;
    text-align: left;
    font-size: 1.5em;
  }
}
@media (min-width: 992px) {
  .container__main .header__title {
    text-align: center;
  }
  .container__main .main__welcome {
    text-align: center;
  }
  .container__main .main__description {
    text-align: center;
    margin: 0 10vw 0 10vw;
  }
  .container__main .main__text {
    margin: 2em 10vw 0 10vw;
  }
  .main__section .main__section-container {
    margin: 0 10vw 0 10vw;
  }
  .main__section .main__section-description {
    margin: 0 10vw 0 10vw;
  }
  .section__buttons {
    margin-left: 10vw;
  }
  .container__gallery {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}
/* -------------------------------------- */
/* MEDIA QUERIES */
/* -------------------------------------- */
/* /////////////////////////////////////////////////////////// */

/*# sourceMappingURL=style.css.map */
