/* /////////////////////////////////////////////////////////// */
/* --------------------------------------- */
/* EMPIEZA HEADER */
/* --------------------------------------- */
.container__header {
  .navbar-brand {
  }
  .nav-item {
    margin-left: 2em;

    font-family: "Kanit", sans-serif;
    font-family: "Questrial", sans-serif;
    font-size: 1.3em;
    text-align: center;

    .nav-link.active {
      background: linear-gradient(-45deg, #d1ee52, #23ce6b, #4cd523, #23d5ab);
      background-size: 400% 400%;
      animation: gradient 2s ease infinite;
      color: #ffffff !important;
    }

    .nav-link {
      border-radius: 10px;
      color: #23ce6b;
      padding: 0.7em 1.4em 0.7em 1.4em !important;
    }
    .nav-link:hover {
      background: linear-gradient(-45deg, #d1ee52, #23ce6b, #4cd523, #23d5ab);
      background-size: 400% 400%;
      animation: gradient 2s ease infinite;
      color: #ffffff;
    }
    .nav-link:active {
      background-color: #23ce6b;
      color: #ffffff;
    }
  }
}
/* -------------------------------------- */
/* TERMINA HEADER */
/* -------------------------------------- */
/* /////////////////////////////////////////////////////////// */
