/* -------------------------------------- */
/* MEDIA QUERIES */
/* -------------------------------------- */
@media (max-width: 992px) {
  .container__gallery {
    display: flex;
    flex-direction: column;
    align-items: center;
    .gallery__item {
      width: 50%;
    }
  }

  .container__main {
    .main__text {
      padding: 1em;
      border-radius: 1em;
      text-align: left;
      font-size: 1.5em;
    }
  }
  .container__header {
    .nav-link {
      margin-top: 10px;
    }
    .navbar-brand {
      display: none;
    }
  }
}
@media (min-width: 992px) {
  .container__main {
    .header__title {
      text-align: center;
    }

    .main__welcome {
      text-align: center;
    }
    .main__description {
      text-align: center;
      margin: 0 10vw 2em 10vw;
      margin-top: 2em;
    }
    .main__text {
      margin: 2em 10vw 0 10vw;
    }
  }
  .main__section {
    .main__section-container {
      margin: 0 10vw 0 10vw;
    }
    .main__section-description {
      margin: 0 10vw 0 10vw;
    }
  }
  .section__buttons {
    margin-left: 10vw;
  }
  .container__gallery {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}

@media (max-width: 452px) {
  .container__header {
    background-color: #ffffff;
    font-family: "Kanit", sans-serif;
    font-family: "Questrial", sans-serif;
    text-align: start;
    padding: 0 3px 1em 2px;
    flex-direction: column;
    .nav-link {
      margin-top: 10px;
    }
  }

  .container__main {
    .section__buttons {
      display: none;
      background-color: #23ce6a57;
      padding: 1em;
      border-color: #23ce6b;
      border-style: solid;
      border-radius: 1em;
      text-decoration: none;
      color: #ffffff;
      border-width: 1px;
    }
  }
}
/* -------------------------------------- */
/* MEDIA QUERIES */
/* -------------------------------------- */
/* /////////////////////////////////////////////////////////// */
