/* RESET CSS */
* {
  margin: 0%;
  padding: 0%;
  box-sizing: border-box;
}
/* RESET CSS */
/* --------------------------------------- */
/* GRIDS START */
.container_grid {
  display: grid;
  grid-template-columns: auto 1fr;
  grid-template-rows: auto 1fr auto;
  grid-template-areas:
    "container__nav container__header"
    "container__nav container__main"
    "container__footer container__footer";
  min-height: 100vh;
}

.container__header {
  grid-area: container__header;
}

.container__nav {
  grid-area: container__nav;
}

.container__main {
  grid-area: container__main;
}

.container__footer {
  grid-area: container__footer;
}
/* GRIDS END */

/* --------------------------------------- */
/* EMPIEZA HEADER */
.container__header {
  background-color: #272d2d;
  font-family: "Kanit", sans-serif;
  font-family: "Questrial", sans-serif;
  text-align: start;
  padding: 2.3em 0 0 1em;
  color: #ffffff;
  flex-direction: column;
}
/* TERMINA HEADER */
/* -------------------------------------- */
/* EMPIEZA NAV */
.container__nav {
  background-color: #ffffff;
  position: sticky;
}

.nav__list {
  display: flex;
  flex-direction: column;
  font-family: "Kanit", sans-serif;
  font-family: "Questrial", sans-serif;
  padding: 1em 0.5em 0 0.5em;
  list-style: none;
  position: relative;
}

.nav__item__logo {
  display: flex;
  justify-content: center;
  padding: 1em 0 1em 0;
  margin: 0 0 20px 0;
}

.nav__item {
  display: flex;
  padding: 10px;
  margin: 0.3em;
  font-size: 0.8em;
  font-weight: bold;
  background-color: #272d2d;
  border-radius: 20px;
  justify-content: center;
}

.nav__anchors {
  text-decoration: none;
  color: #ffffff;
}

.nav__anchors_active {
  color: #23ce6b;
  text-decoration: none;
}

/* TERMINA NAV */
/* --------------------------------------- */
/* EMPIEZA MAIN */
.container__main {
  display: flex;
  font-family: "Kanit", sans-serif;
  font-family: "Questrial", sans-serif;
  background-color: #272d2d;
  padding: 1em;
  color: #ffffff;
  text-align: start;
  flex-direction: column;
}

.main__welcome {
  padding: 1em 0 1em 0;
}

.gallery__item {
  padding: 0em 0 1em 0em;
  width: 10%;
}

.main__description {
  font-size: 1em;
  font-weight: 550;
  padding: 1em;
  border-radius: 1em;
  text-align: start;
}

.card-body {
  background-color: #23ce6b;
}

/* FOOTER */

.container__footer {
  background-color: #23ce6b;
  font-family: "Kanit", sans-serif;
  font-family: "Questrial", sans-serif;
}
